/* GAMES SECTION */

.menu {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 3rem;
  margin-top: 3rem;
  color: white;
  flex-wrap: wrap; /* allows wrap on small screens */
}

/* Individual game card */
.game-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* Game icon */
.game-card img {
  width: 250px;
  height: 250px;
  padding: 5px;
  margin-bottom: 0.8rem;
  border: 1.5px;
  border-radius: 12px;
  background: #ff6;
  transition: transform 0.4s ease, box-shadow 0.3s ease;
}

.game-card img:hover {  
  transform: scale(0.98);
  box-shadow: 0 0 10px #ff6;
}

/* Caption */
.game-card h2 {
  font-size: 0.7rem;
  margin: 0;
  color: #ff6;
}


